<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Greek Room</title>
    <link rel="stylesheet" type="text/css" href="static/home/greekroom.css" />
  </head>
  <body spellcheck="false">
    <div class="header">
      <div class="title">
        <h1>Greek Room</h1>
      </div>
      <div class="logout">
        <p class="username">Bob</p>
        |
        <a href="/logout">Logout</a>
      </div>
    </div>

    <div id="createPopup" class="overlay">
      <div class="popup">
        <h3>Create Project</h3>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <form
            action="{{ url_for('create_user_project', username='bob') }}"
            method="POST"
            enctype="multipart/form-data"
          >
            <label
              >Name:
              <input
                type="text"
                name="project_name"
                minlength="3"
                maxlength="15"
                required
            /></label>
            <br />
            <br />
            <label
              >Language Code:
              <input
                type="text"
                name="lang_code"
                minlength="2"
                maxlength="8"
                required
            /></label>
            <br />
            <br />
            <label for="file-upload"
              >Upload USFM files or Paratext Project (.zip):</label
            >
            <input
              type="file"
              id="file-upload"
              name="files"
              required
              multiple
            />
            <br />
            <br />
            <input type="submit" value="Create" class="create" />
            <img
              src="static/home/assets/book-loader.gif"
              class="create"
              style="display: none"
            />
          </form>
          <p id="form-notification" style="display: none">
            <b></b>
          </p>
        </div>
      </div>
    </div>

    <div class="flexbox">
      <div class="left">
        <div class="content">{% block left_content %}{% endblock %}</div>
      </div>
      <div class="right">
        <div class="content">{% block right_content %}{% endblock %}</div>
      </div>
    </div>

    <!-- <script type="module" src="static/utils.js"></script> -->
    <script type="module" src="static/home/greekroom.js"></script>
  </body>
</html>
