{% extends "home/base.html" %} {% block right_content %}
<div id="details-pane">Click on a project name to load data.</div>
{% endblock %} {% block left_content %}
<div class="header projects-pane">
  <div>
    <h3 class="project-header">Projects</h3>
  </div>
  <div>
    <a class="link project-header" href="#createPopup">&plus;</a>
  </div>
</div>

<div class="listing">
  {% if not projects %}
  <p>No projects found. <br />Create(+) one to get started!</p>
  {% else %}
  <ul>
    {% for project in projects %}
    <li>
      <button
        class="link"
        data-url="{{ url_for('get_project_overview', resource_id=project.resource_id) }}"
        data-resource-id="{{ project.resource_id }}"
        data-lang-code="{{ project.lang_code }}"
        data-lang-name="{{ project.lang_name or '' }}"
        name="resourceId"
        title="{{ project.resource_id }} ({{ project.name }})"
      >
        {{ project.name|truncate(27, True) }}
      </button>
    </li>
    <!-- <li class="selected"><a href="#">Item 1</a></li> -->
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
