<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Voithos</title>
    <link rel="stylesheet" type="text/css" href="static/voithos.css" />
  </head>
  <body>
    <h1>Voithos</h1>

    <div id="popup1" class="overlay">
      <div class="popup">
        <h3>Load USFM File</h3>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <form action="upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
          </form>
        </div>
      </div>
    </div>

    <div class="flexbox">
      <div class="left">
        <a class="button" href="#popup1">&plus;</a>
      </div>
      <div class="right">
        <div id="content" class="center">{% block content %}{% endblock %}</div>
      </div>
    </div>

    <script src="static/voithos.js"></script>
  </body>
</html>
