<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Voithos</title>
    <link rel="stylesheet" type="text/css" href="static/voithos.css" />
  </head>
  <body spellcheck="false">
    <h1 class="center">Voithos</h1>

    <div id="popup1" class="overlay">
      <div class="popup">
        <h3>Upload USFM File</h3>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <form action="upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
          </form>
        </div>
      </div>
    </div>

    <div class="flexbox">
      <div class="left">
        <div class="content">{% block left_content %}{% endblock %}</div>
      </div>
      <div class="right">
        <div class="content">{% block right_content %}{% endblock %}</div>
      </div>
    </div>

    <script src="static/voithos.js"></script>
  </body>
</html>
