<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Greek Room</title>
    <link rel="stylesheet" type="text/css" href="static/word_checker.css" />
  </head>
  <body spellcheck="false">
    <h1 class="center">Greek Room Word Checker</h1>
    <ul class="context-menu">
      {% for item in spelling_suggestions %}
      <li class="menu-item">{{ item.error_token }}</li>
      <li class="menu-item">{{ item.suggestions }}</li>
      {% endfor %}
    </ul>

    <div id="scripture-content">
      {% for book in scripture_data %} {% for chapter in scripture_data[book] %}
      <div>
        <h2>{{ book }} {{ chapter }}</h2>
        {% for verse in scripture_data[book][chapter] %}
        <div>
          <span class="bold verse-number">{{ verse }}</span
          ><span class="verse" contenteditable="true"
            >{{ scripture_data[book][chapter][verse] }}</span
          >
        </div>
        {% endfor %}
      </div>
      {% endfor %} {% endfor %}
    </div>

    <!-- custom context menu -->
    <ul id="menu" class="context-menu hidden">
      <li class="menu-item">First word</li>
      <li class="menu-item">Second word</li>
      <li class="menu-divider"></li>
      <li class="menu-item">Yet another word</li>
    </ul>

    <script src="static/word_checker.js"></script>
  </body>
</html>
