<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Greek Room</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('auth.static', filename='auth.css') }}"
    />
  </head>
  <body>
    <h2 class="center">Greek Room</h2>
    <br />
    <br />
    <div class="forms-container">
      <div class="reset-password-form">
        <h3 class="center">Reset Password</h3>

        {% with messages =
        get_flashed_messages(category_filter=["reset-password-message-success"])
        %} {% if messages %}
        <div class="flash">
          {% for message in messages %}
          <p class="success">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %} {% endwith %} {% with messages =
        get_flashed_messages(category_filter=["reset-password-message-fail"]) %}
        {% if messages %}
        <div class="flash">
          {% for message in messages %}
          <p class="fail">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}

        <form action="reset-password" method="POST">
          <label>
            <input
              type="password"
              name="password"
              placeholder="New password*"
              minlength="8"
              maxlength="100"
              required
            />
          </label>
          <br />
          <br />
          <label>
            <input
              type="password"
              name="reenter-password"
              placeholder="Re-enter password*"
              minlength="8"
              maxlength="100"
              oninput="isPasswordMatched(this);"
              required
            />
          </label>
          <label>
            <input type="hidden" name="token" value="{{ token }}" />
          </label>
          <br />
          <br />
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>

    <script src="{{ url_for('auth.static', filename='auth.js') }}"></script>
  </body>
</html>
