{% extends "voithos/index.html" %} {% block right_content %}
<div id="scripture-content">Click on a project name to load data.</div>
{% endblock %} {% block left_content %}
<a class="button" href="#popup1">&plus;</a>

<div class="listing">
  {% if projects_listing|length == 0 %}
  <p>No projects found. <br />Create(+) one to get started!</p>
  {% else %}
  <ul>
    {% for project in projects_listing %}
    <li>
      <button
        class="link"
        data-url="{{ url_for('.process_scripture', resource_id=project.resource_id) }}"
        data-resource-id="{{ project.resource_id }}"
        data-lang-code="{{ project.lang_code }}"
        name="resourceId"
      >
        {{ project.project_name }}
      </button>
    </li>
    <!-- <li class="selected"><a href="#">Item 1</a></li> -->
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
