{% extends "voithos/index.html" %} {% block right_content %}
<div id="scripture-content">Click on a project name to load data.</div>
{% endblock %} {% block left_content %}
<a class="button" href="#popup1">&plus;</a>

<div class="listing">
  <ul>
    {% for dir in listing %}
    <li>
      <button
        class="link"
        data-url="{{ url_for('.process_scripture', resource_id=dir[1]) }}"
        data-resource-id="{{ dir[1] }}"
        name="resourceId"
      >
        {{ dir[0] }} ({{ dir[1] }})
      </button>
    </li>
    <!-- <li class="selected"><a href="#">Item 1</a></li> -->
    {% endfor %}
  </ul>
</div>
{% endblock %}
