<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIBP</title>
    <link rel = "stylesheet" type="text/css" href = "static/hibp_bp.css"/>
</head>
<body>
    <h1>Have I Been Pwned? Blueprint</h1>
    <script src="static/emr_bp.js"></script>
    <p>Try calling the API like <a href="https://outrigger.piranha.ninja/hibp/test@mail.com">https://outrigger.piranha.ninja/hibp/test@mail.com</a></p>
    <p>Note: You would have to pass in the required headers (API key and user-agent, i.e)</p>
</body>
</html>
