<div class="bcv-nav">
  {% for book, chapters in project_scope.items() %}
  <span
    class="bcv-nav-item"
    data-chapters="{{ chapters|map('int')|sort|join('|') }}"
    data-url="{{ url_for('get_verses', resource_id=resource_id) }}"
    data-book-code="{{ book }}"
    >{{ book }}</span
  >
  {% endfor %}
</div>
<div class="bcv-nav">
  <span>Click on a Book name to select chapters.</span>
</div>
<hr />
<div role="main">{% include "spell/editor.fragment" %}</div>

<link rel="stylesheet" type="text/css" href="static-spell/spell/spell.css" />
<script type="module" src="static-spell/spell/spell.js"></script>
