<div class="bcv-nav">
  {% for book, chapters in project_scope.items() %}
  <span
    class="bcv-nav-item"
    data-chapters="{{ chapters|map('int')|sort|join('|') }}"
    data-url="{{ url_for('get_chapter', resource_id=resource_id) }}"
    data-book-code="{{ book }}"
    >{{ BookNames[BookCodes(book).name].value }}</span
  >
  {% endfor %}
</div>
<div class="bcv-nav">
  <small><i>Click on a Book name to select chapters.</i></small>
</div>
<hr />
<img src="static/home/assets/eclipse-loader.svg" style="display: none" />
<div role="main">{% include "spell/chapter.fragment" %}</div>

<link rel="stylesheet" type="text/css" href="static-spell/spell/spell.css" />
<template id="word-details-template">
  <div>
    Count: <b>235</b><small class="clear-suggestions blue hide">clear</small>
  </div>
</template>
<template id="spell-suggestions-template">
  <div>
    <br />
    <br />
    <h4 class="subtitle">Spelling Suggestions</h4>
    <small class="clear-suggestions blue hide">clear</small>
    <small><b>Format:</b> (n:count; c:cost)</small>
    <ul></ul>
  </div>
</template>
<template id="spell-details-placeholder-template">
  <div>
    <p><i>Select a word to see any suggestions and details.</i></p>
  </div>
</template>
<script type="module" src="static-spell/spell/spell.js"></script>
