<div class="bcv-nav">
  {% for book, chapters in project_scope.items() %}
  <span
    class="bcv-nav-item"
    data-chapters="{{ chapters|map('int')|sort|join('|') }}"
    data-url="{{ url_for('get_chapter', resource_id=resource_id) }}"
    data-book-code="{{ book }}"
    >{{ book }}</span
  >
  {% endfor %}
</div>
<div class="bcv-nav">
  <span>Click on a Book name to select chapters.</span>
</div>
<hr />
<div role="main">{% include "spell/chapter.fragment" %}</div>

<link rel="stylesheet" type="text/css" href="static-spell/spell/spell.css" />
<template id="word-details-template">
  <div>Count: <b>235</b></div>
</template>
<template id="spell-suggestions-template">
  <br />
  <br />
  <h4 class="subtitle">Spelling Suggestions</h4>
  <ul>
    <li title="count: 24, distance:0.23">New spellings</li>
    <li>Another spelling</li>
    <li>word</li>
  </ul>
</template>
<script type="module" src="static-spell/spell/spell.js"></script>
