.bcv-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
  padding-top: 0.8em;
}

.bcv-nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.editor-container {
  display: flex;
  font-size: 1.15em;
}

#verses-content {
  padding-right: 0.5em;
}

.verse-container {
  display: flex;
}

#suggestions {
  width: 22%;
  border-left: 1px solid black;
  padding-left: 0.5em;
}

#suggestions .subtitle {
  margin: 0 0 0.3em 0;
}

#suggestions ul {
  /* position: relative; */
  list-style: none;
  padding: 0 0 0 0.3em;
  margin: 0 0 0 0;
}

#suggestions li::before {
  content: "→";
  padding: 0 0.3em 0 0;
  /* position: absolute; */
  /* left: 0; */
}

.suggestion-stats {
  font-size: 0.8em;
}

.token:hover {
  font-weight: bold;
}

/* .hide { */
/*   visibility: hidden; */
/* } */

.orange {
  color: #ff9900;
}

.dark-green {
  color: #2a7e2a;
}

.medium-green {
  color: #11c24d;
  /* #008800; */
}

.yellowish {
  color: #e6e600;
}

.blue {
  color: #4d79ff;
}

.red {
  color: #ff3300;
}

.spell-error {
  text-decoration: underline wavy #ff3028;
}

.highlight {
  background-color: #ffff00;
}

.clear-suggestions {
  float: right;
}
.clear-suggestions:hover {
  text-decoration: underline;
  cursor: pointer;
}

.spell-suggestion:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
.commit-icon,
.refresh-icon {
  cursor: pointer;
}
.verse-container:hover > .commit-icon {
  visibility: visible;
}

.refresh-icon {
  height: 0.1em;
  margin-top: -0.3em;
}
.verse-container:hover > .refresh-icon {
  visibility: visible;
}
