/* Define the "system" font family */
@font-face {
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
        local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
        local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
html,
body {
    font-family: system-ui;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
}
.greekroom-logo {
    align-self: center;
}
.title {
    align-self: center;
}
.username {
    font-weight: bold;
    display: inline-block;
}
.logout {
    text-decoration: none;
    font-size: 1em;
}
.flexbox {
    display: flex;
    width: 100%;
    min-height: 50%;
    height: auto;
}
.projects-pane {
    height: 0.4em;
}
.project-header {
    margin: 0.4em;
}
a.project-header {
    margin: 0.4em;
    font-size: 1.5em;
}
.left {
    background: #b9b9b940;
    min-width: 15%;
    flex-grow: 0;
}
.right {
    /* background: #a0a0ff; */
    flex-grow: 1;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
    border-radius: 0.5em;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.flag-red {
    text-decoration-color: red;
    text-decoration-style: wavy;
}
.verse:focus {
    outline: none;
}
.verse-number {
    padding-right: 1em;
}
.right > .content {
    padding-left: 10px;
}
.link {
    background: none;
    border: none;
    color: blue;
    font-size: 1em;
    text-decoration: none;
}
.link:hover {
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
.button {
    position: relative;
    left: 93%;
    top: 1%;
    font-size: 1.3em;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    border: 0.5px solid gray;
    /* background: gray; */
    /* underline: true; */
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 15em auto;
    padding: 0.75em;
    border: 1px solid black;
    width: 25em;
    background: white;
    border-radius: 0.5em;
}
.popup h3 {
    margin-top: 0;
    color: #333;
}
.popup .close {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.popup .notes {
    min-width: 30em;
    max-width: 30em;
    max-height: 15em;
    overflow: auto;
}
.popup .tip {
    font-size: 0.75em;
    margin-top: 0.3em;
}
.popup .create {
    float: right;
}
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}
/* File listing */
.listing {
    padding: 10px;
    font-size: 1.05em;
}

div.listing > ul {
    display: inline;
}
div.listing > ul li {
    list-style: none;
}
.selected {
    background-color: #f4f96a;
}
.flex {
    display: flex;
}
.justify-end {
    justify-content: flex-end;
}
.flex:hover .delete-icon {
    display: block;
    cursor: pointer;
}
.delete-icon {
    margin: 1.7em 0.5em auto 0.5em;
    display: none;
}
.delete-icon img {
    height: 1em;
}
div[name="reference-listing"]:hover .ref-delete-icon {
    display: inline;
    cursor: pointer;
}
.ref-delete-icon {
    margin-left: 1em;
    display: none;
}
.ref-delete-icon img {
    height: 0.8em;
}
.disabled {
    color: gray;
}
.red {
    color: red;
}
.hide {
    display: none;
}
.cursor-wait {
    cursor: wait;
}
.wildebeest-icon-tray {
    float: right;
}
.wildebeest-icon-item {
    height: 0.9em;
    padding: 0 0.2em 0 0;
    cursor: pointer;
}
.loader-small {
    height: 0.95em;
}
.project-detail {
    font-size: 0.9em;
    margin-left: 1em;
    max-height: 20em;
    max-width: 70em;
    background: #fafad2;
}
.notes-text {
    white-space: pre-wrap;
    overflow: auto;
}
